/* FOOTER*/

.footer {
	/*display: none;*/
}
.footer_container {
	display: flex;
	/* width: 100%; */
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px; 
}

/* Левая часть. Меню навигации */
.footer-nav__list {
	color: var(--main-color2);
	font-size: 16px;
	line-height: 1;
}
.footer-nav__item:not(:last-child) {
	margin-bottom: 16px;
}
.footer-nav__link:hover {
	color: #000;
}

/* Средняя часть. Телефон и почта */
.contacts__list {
	font-size: 20px;
	line-height: 1;
}
.contacts__item:not(:last-child) {
	margin-bottom: 40px;
}
.contacts__item:hover {
	color: var(--main-color1);
}
.contacts__item_phone,
.contacts__item_email {
	padding-left: 32px;
	background-size: 20px 20px;
	background-repeat: no-repeat;	
	background-position: left center;
}
.contacts__item_phone {
	background-image: url(../img/service/call-answer-24px.svg);	
}
.contacts__item_email {
	background-image: url(../img/service/envelope-24px.svg);
}

/* Кнопка "Заказать звонок" */
.footer__btn {
margin-bottom: 20px;
}

/* Список социальных сетей */
.socials__list {
	display: flex;
	justify-content: space-between;
}
.socials__item {
	position: relative;
	width: 24px;
	height: 24px;	 
}
.socials__link {
	position: absolute;
	width: 100%;
	height: 100%;	
	background-size: auto 100%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(../img/service/social-sprite-24px.svg);
}
/* .socials__link:hover {
			box-shadow: var(--drop-shadow);
} */
.facebook {
	background-position: 0 0;	
}
.instagram {
	background-position: -48px 0;
}
.twitter {
	background-position: -96px 0;
}
.vk {
	background-position: -144px 0;
}

/* Нижняя темная полоса */
.footer__dark-line {
	padding-top: 20px;
	padding-bottom: 24px;
	color: #fff;
	text-align: center;
	line-height: 1;
	background-color: #23173C;
}



/* МЕДИА-ЗАПРОСЫ */

@media screen and (max-width: 834px) {
	.footer_contaner {
		padding: 48px 24px;
	}
	.contacts__item {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.footer_container {
		flex-direction: column;
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.footer-nav {
		margin-bottom: 48px;
	}
	.contacts__item:not(:last-child) {
		margin-bottom: 24px ;
	}
	.contacts__list{
		margin-bottom: 48px;
	}
	.footer__btn {
		width: 100%;
		margin-bottom: 48px;
	}
	.socials__list {
		justify-content: space-evenly;
	}
}
